<form [formGroup]="itemForm" (ngSubmit)="onSave()" class="form-container">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="nome" nzRequired>Nome do Item</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Por favor, insira o nome do item (máximo 70 caracteres)">
      <input nz-input formControlName="nome" id="nome" maxlength="70" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="categoria" nzRequired>Categoria</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Por favor, selecione uma categoria">
      <nz-select formControlName="categoria" id="categoria" nzPlaceHolder="Selecione uma categoria">
        <nz-option nzLabel="Automóvel" nzValue="Automóvel"></nz-option>
        <nz-option nzLabel="Caminhão" nzValue="Caminhão"></nz-option>
        <nz-option nzLabel="Avião" nzValue="Avião"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="ativo">Ativo</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <label nz-checkbox formControlName="ativo">Produto Ativo</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="quantidade">Quantidade</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="quantidade" id="quantidade" type="number" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="preco">Preço</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input formControlName="preco" id="preco" type="text" placeholder="R$ 0,00" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" [disabled]="!itemForm.valid">Salvar</button>
      <button nz-button nzType="default" (click)="onCancel()">Cancelar</button>
    </nz-form-control>
  </nz-form-item>
</form>
