<form [formGroup]="itemForm" (ngSubmit)="onSave()" nz-form class="item-form">
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="nome" nzRequired>Nome do Item</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Por favor, insira o nome do item (máximo 70 caracteres)">
      <input nz-input formControlName="nome" id="nome" placeholder="Nome do Item" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="categoria" nzRequired>Categoria</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Por favor, selecione uma categoria">
      <nz-select formControlName="categoria" id="categoria" placeholder="Selecione uma categoria">
        <nz-option *ngFor="let cat of categorias" [nzLabel]="cat" [nzValue]="cat"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="ativo">Ativo</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <label nz-checkbox formControlName="ativo">Ativo</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="quantidade">Quantidade</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Por favor, insira uma quantidade válida (mínimo 1)">
      <input nz-input type="number" formControlName="quantidade" id="quantidade" placeholder="Quantidade" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="preco">Preço</nz-form-label>
    <nz-form-control [nzSpan]="14" nzErrorTip="Por favor, insira um preço válido (ex: 1.234,56)">
      <input
        nz-input
        formControlName="preco"
        id="preco"
        placeholder="R$ 0,00"
        mask="separator.2"
        dropSpecialCharacters="false"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <div class="btn-wrapper">
        <button nz-button nzType="primary" [disabled]="isSubmitting">
          <ng-container *ngIf="isSubmitting; else saveText">
            <i nz-icon nzType="loading" nzTheme="outline"></i> Salvando...
          </ng-container>
          <ng-template #saveText>
            {{ editIndex !== null ? 'Atualizar' : 'Salvar' }}
          </ng-template>
        </button>
        <button
          nz-button
          nzType="default"
          (click)="onCancel()"
          [disabled]="isSubmitting"
          type="button"
        >
          Cancelar
        </button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
