<div>
  <button nz-button nzType="primary" (click)="onAdd()">Adicionar Novo Item</button>
  <nz-table #basicTable [nzData]="items" nzBordered>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Categoria</th>
        <th>Ativo</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data; let i = index">
        <td>{{ item.nome }}</td>
        <td>{{ item.categoria }}</td>
        <td>
          <nz-checkbox [ngModel]="item.ativo" disabled></nz-checkbox>
        </td>
        <td>{{ item.quantidade !== null ? item.quantidade : '-' }}</td>
        <td>{{ item.preco !== null ? 'R$ ' + item.preco : '-' }}</td>
        <td>
          <button nz-button nzType="link" (click)="onEdit(i)">Editar</button>
          <button nz-button nzType="link" nzDanger (click)="onDelete(i)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
