<nz-layout>
  <div *ngIf="showHamburger" class="hamburger-menu">
    <button nz-button nzType="primary" (click)="openDrawer()">
      <i nz-icon nzType="menu" nzTheme="outline"></i>
    </button>
  </div>

  <nz-sider
    *ngIf="!showHamburger || !isCollapsed"
    [nzWidth]="400"
    [nzCollapsedWidth]="200"
    nzTheme="dark"
    nzCollapsible
    (nzCollapse)="onCollapse()"
    [nzCollapsed]="isCollapsed"
  >
    <app-side-menu-sidebar></app-side-menu-sidebar>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
